{% extends 'base.html.twig' %}

{% block title %}Add a product
{% endblock %}
{% block body %}

	<div class="fomrBox my-0 mx-auto border-1 mt-5 shadow p-2 border border-primary rounded" style="width:500px;">
        <h2 class="center">Post new Data</h2>
		{{ form_start(form, {'attr': {'class': 'p-1'}}) }}
		{{ (message) ? '<h4 class="alert alert-warning">' : '' }}
		{{ message }}
		{{ (message) ? '</h4>' : '' }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-primary mt-2">
			Submit Post
		</button>
		{{ form_end(form) }}
	</div>
</div>{% endblock %}
