{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}
{% block body %}
    <div class="content" style="">
        <div class="details row g-2">
            <div class="col-12 col-sm-6 p-2">
                <img src="{{ data.imageUrl }}" alt="" style="max-width: 100%;">
            </div>
      
            <div class="col-12 col-sm-6 p-2">
            <div class="button my-0 mx-auto" style="with:200px"><a href="/delete/{{ data.id }}" class="btn btn-danger">Del</a> <a href="/edit/{{ data.id }}" class="btn btn-primary">Mod</a></div>
            <hr>
            <h4>Prix : {{ data.price }} €</h4>
            <hr>
            <h2>{{ data.title }}</h2>
            <p class="description">{{ data.description | nl2br }}</p>
            </div>
        </div>
    </div>

{% endblock %}
